<?xml version="1.0"?> <launch>
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find costmap_2d)/launch/costmap_common_params.yaml" command="load" />
    <rosparam file="$(find costmap_2d)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="/home/kuuve/catkin_ws/src/map_files/global_cost.yaml" command="load" />
    <rosparam file="$(find move_base)/launch/move_base_params.yaml" command="load" />
    <remap from="odom" to="$(arg odom_topic)"/>

	<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

  </node>
</launch>
